// OBJECTIVE SERVICES

.objective{
    position: relative;
}

.content__container{
    display: flex;
    padding-top: 120px;
}

.eclipse1{
    top: 20%;
}

.eclipse2{
    bottom: 8%;
    right: 0%;
}

.eclipse img{
    width: 100%;
}

.main__content{
    width: 75%;
    padding-right: 10%;
}

.main__content h2{
    margin: 20px 0px 30px 0px;
}

.p__content{
    margin-bottom: 40px;
}

.objective__button{
    margin-bottom: 100px;
}

.free__offer{
    width: 25%;
    background: #f5f5f5;
    padding: 20px;  
    margin-bottom: 100px;
    border-right: 1px solid #2f87fd;
}

.free__offer p{
    margin-bottom: 20px;
}

.free__offer h3{
    margin-bottom: 50px;
}

.free__offer h5{
    margin: 50px 0px 0px 30px;
}

.free__offer i{
    float: left;
    margin-top: 30px;
     color: #2f87fd;
}

// SERVICES

.services{
    background: #f5f5f5;
    position: relative;
    z-index: -3;
    padding-bottom: 80px;
}

.services__header h1{
    color: white;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galleryBox{
    width: 32%; 
    background: white;
    padding: 30px;
    margin-bottom: 15px;
}

.galleryBox h4, .galleryBox p {
    text-align: center;
}

.galleryBox h4{
    margin: 20px 0px;
}

.galleryBox p{
    margin-bottom: 20px;
}

.icons{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
}

.icons img{
    width: 100%;
    height: 100%;
}

@media (max-width: 940px) {
    
    .free__offer{
        width: 50%;
        margin-top: 50px;
    }

    .eclipse{
        display: none;
    }
}

@media (max-width: 768px) {

    .content__container{
        flex-direction: column;
    }

    .main__content{
        width: 100%;
        padding: 0px;
    }

    .objective p, .main__content h2, .objective h3{
        text-align: center;
    }

    .free__offer{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 100px;   
    }

    .galleryBox{
        width: 48.5%;
    }
}

@media (max-width: 480px) {

    .free__offer{
        width: 80%;
    }

    .galleryBox{
        width: 100%;
        margin-bottom: 30px;
    }
}