@import "components/_normalize.scss";
@import "components/_fonts.scss";
@import "components/_header.scss";
@import "components/_objective__services.scss";


.wrapper{
    max-width: 70%;
    margin: 0 auto;
}

.blue{
    color: #2f87fd;
}

// button

button{
    background: #2f87fd;
    display: flex;
    flex-direction: row;
    border-style: none;
    height: 45px;
    width: 170px;
}

button p{
    color: white;
    margin: 0 auto;
    
}

button i{
    justify-content: center;
    color: white;
    padding-left: 5px;
    margin-top: 5px;
}

.underscore{
    color: #2f87fd;
    text-align: center;
}